.typography {
  &--regular {
    font-weight: var(--font-weight-regular);
  }

  &--medium {
    font-weight: var(--font-weight-medium);
  }

  &--bold {
    font-weight: var(--font-weight-bold);
  }

  &--background {
    color: var(--color-background);
  }

  &--text {
    color: var(--color-text);
  }

  &--neutral {
    color: var(--color-neutral);
  }

  &--primary {
    color: var(--color-primary);
  }

  &--secondary {
    color: var(--color-secondary);
  }

  &--tertiary {
    color: var(--color-tertiary);
  }
}
