.typography {
  &--xs { font-size: var(--fs-xs); }
  &--s { font-size: var(--fs-s); }
  &--m { font-size: var(--fs-m); }
  &--l { font-size: var(--fs-l); }
  &--xl { font-size: var(--fs-xl); }
  &--xxl { font-size: var(--fs-xxl); }

  &--regular { font-weight: var(--font-weight-primary); }
  &--bold { font-weight: var(--font-weight-secondary); }

  &--background { color: var(--color-background); }
  &--text { color: var(--color-text); }
  &--primary { color: var(--color-primary); }
  &--secondary { color: var(--color-secondary); }
}