.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  main {
    grid-column: 1/ -1;
    min-height: 100vh;
    width: 100%;
    max-width: 350px;
    margin: 150px auto;

    @media (min-width: 1024px) {
      max-width: 500px;
    }
  }
}
