@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
@import '~modern-normalize';

:root {
  --color-text: hsl(209, 33%, 12%);
  --color-background: hsl(0, 0%, 100%);
  --color-neutral: hsl(0, 0%, 40%);
  --color-primary: hsl(223, 87%, 63%);
  --color-secondary: hsl(223, 100%, 88%);
  --color-tertiary: hsl(354, 100%, 50%);
  --font-regular: 'Libre Franklin';
  --font-medium: 'Libre Franklin';
  --font-bold: 'Libre Franklin';
  --font-weight-regular: 300;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --fs-xs: 1.6rem;
  --fs-s: 2rem;
  --fs-m: 2.6rem;
  --fs-l: 3rem;
  --fs-xl: 4rem;
  --fs-xxl: 6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
}

img {
  max-width: 100%;
}
